<div class="center">
  <h2>Welcome to the Best Drink Game Ever</h2>
  <%= image_tag('n5rp4O7.gif', class:"circle z-depth-5") %>
</div>
<div class="nav center">
  <ul>
    <li><a class="waves-effect waves-light btn-large">
      <i class="material-icons left">play_circle_outline</i>Play</a>
</li>
  </ul>
</div>
