<!DOCTYPE html>
<html>
  <head>
    <title>Drinking</title>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src='Winwheel.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <canvas id='canvas' width='880' height='300'>
           Canvas not supported, use another browser.
       </canvas>
       <script>
           var theWheel = new Winwheel();
       </script>
    <%= yield %>
  </body>
</html>
